<footer class="bg-light text-center py-3 mt-4">
  <p>&copy; 2024 Language Learning Website. All rights reserved.</p>

  <div class="mt-2">
    <a
      href="https://www.facebook.com/profile.php?id=61590602071179"
      target="_blank"
      rel="noopener noreferrer"
      class="mx-2 text-dark"
    >
      <i class="fab fa-facebook fa-lg"></i>
    </a>

    <a
      href= "https://www.instagram.com/languagesspeakup"
      target="_blank"
      rel="noopener noreferrer"
      class="mx-2 text-dark"
    >
      <i class="fab fa-instagram fa-lg"></i>
    </a>
  </div>
</footer>